@use "splash-screen";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
  background: #eee;
  display: block;
  width: 100%;
  height: 100%;
}

body{
  overflow: hidden;
}


#message {
  text-align: center;
  font-size: 48px;
  /* Увеличиваем размер шрифта */
  color: #0095DD;
  position: absolute;
  top: 50%;
  /* Центрируем по вертикали */
  left: 50%;
  /* Центрируем по горизонтали */
  transform: translate(-50%, -50%);
  /* Сдвигаем для центрирования */
  display: none;
  /* Скрываем по умолчанию */
}

#scoreboard {
  position: absolute;
  bottom: 20px;
  /* Располагаем внизу */
  left: 20px;
  /* Устанавливаем отступ слева */
  font-size: 20px;
  color: #0095DD;
}
